[build-system]
requires = ["setuptools>=69.0"]
build-backend = "setuptools.build_meta"

[project]
name = "pypaperless"
# The version is set by GH action on release
version = "0.0.0"
license = {text = "MIT"}
description = "Little api wrapper for the paperless(-ngx) dms."
readme = "README.md"
requires-python = ">=3.11"
authors = [
    {name = "Tobias Schulz", email = "public.dev@tbsch.de"}
]
classifiers = [
    "Environment :: Console",
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "Intended Audience :: End Users/Desktop",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.11",
    "Software Development :: Libraries :: Python Modules"
]
dependencies = [
    "aiohttp"
]

[project.optional-dependencies]
test = [
    "black==23.12.0",
    "codespell==2.2.6",
    "mypy==1.7.1",
    "ruff==0.1.8",
    "pytest==7.4.3",
    "pytest-asyncio==0.23.2",
    "pytest-aiohttp==1.0.5",
    "pytest-cov==4.1.0",
    "pre-commit==3.6.0",
    "pylint==3.0.3"
]

[tool.codespell]
ignore-words-list = "dependees,"

[tool.black]
target-version = ['py311']
line-length = 100

[tool.mypy]
python_version = "3.11"
check_untyped_defs = true
#disallow_any_generics = true
disallow_incomplete_defs = true
disallow_untyped_calls = false
disallow_untyped_defs = true
mypy_path = "aiohue/"
no_implicit_optional = true
show_error_codes = true
warn_incomplete_stub = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
warn_unused_ignores = true

[tool.pytest.ini_options]
pythonpath = [
  ".",
  "pypaperless",
]
testpaths = [
    "tests",
]
norecursedirs = [
    ".git",
    "testing_config",
]
log_format = "%(asctime)s.%(msecs)03d %(levelname)-8s %(threadName)s %(name)s:%(filename)s:%(lineno)s %(message)s"
log_date_format = "%Y-%m-%d %H:%M:%S"
asyncio_mode = "auto"

[tool.setuptools]
platforms = ["any"]
zip-safe  = false
packages = ["pypaperless"]
include-package-data = true

[tool.setuptools.package-data]
pypaperless = ["py.typed"]

[tool.ruff]
fix = true
show-fixes = true

select = ["E", "F", "W", "I", "N", "D", "UP", "PL", "Q", "SIM", "TID", "ARG"]
ignore = ["PLR2004", "N818"]
extend-exclude = ["app_vars.py"]
unfixable = ["F841"]
line-length = 100
target-version = "py311"

[tool.ruff.flake8-annotations]
allow-star-arg-any = true
suppress-dummy-args = true

[tool.ruff.flake8-builtins]
builtins-ignorelist = ["id"]

[tool.ruff.pydocstyle]
# Use Google-style docstrings.
convention = "pep257"

[tool.ruff.pylint]
max-branches=25
max-returns=15
max-args=10
max-statements=50
