# Verify valid PR labels

name: PR Labels

on:
  pull_request:
    types:
      - synchronize
      - labeled
      - unlabeled
    branches:
      - master

jobs:
  pr_labels:
    name: Verify
    runs-on: ubuntu-latest
    steps:
      - name: Verify PR has a valid label
        uses: ludeeus/action-require-labels@1.0.0
        with:
          labels: >-
            reaking-change, bugfix, refactor, new-feature, maintenance, cu, dependencies, new-provider
